{% extends "templates/connected.twig" %}

{% block mainContent %}
        	
			<div class="column stackable ui grid fullHeight">
                 <div class="six wide column">
                       <div class="ui segment fullHeight">   
					       <h1 class="titre">Amis<i class="users icon iconeAmis"></i></h1>
                           <div role="list" class="ui divided relaxed list">
                                     {% for friend in friends %}
                                        <div role="listitem" class="item">
                                            <i aria-hidden="true" class="user large icon middle aligned"></i>
                                            <div class="content">
                                                 <a class="header" href="?profilAmi&friendId={{friend.id}}">{{friend.prenom}}   {{friend.nom}}</a>
                                            </div>
                                        </div>
                                     {% endfor %}
                            </div>
					   </div>
                 </div>
				 
                 <div class="ten wide column">
                     <div class="ui segment fullHeight">				  
                 		<h1 class="titre">Chercher un profil <i class="user icon"></i></h1><br/>
					     <div class="ui search divRecherche">
                             <div class="ui icon input">
                                 <input id="recherche" name="mail" class="prompt" type="text" placeholder="Saisir l'email...">
                                 <i class="search icon"></i>
                             </div>
                             <div id="users" class="ui list">
							 {% for utilisateur in utilisateurs %}
							      <div role="listitem" class="item utilisateur hide">
                                        <i aria-hidden="true" class="user large icon middle aligned"></i>
                                     <div class="content">
                                         <a class="header" href="index.php?profilAmi&friendId={{ utilisateur.id }}">{{utilisateur.prenom}}   {{utilisateur.nom}}</a>
										 <div class="description">{{utilisateur.mail}} </div>
                                     </div>
                                  </div>
						     {% endfor %}
							 </div>						 
							 </div>
                        </div>
                    </div>
                </div>
            </div>
			
			<link rel="stylesheet" href="./dist/amis/amis.css">
			<script type="text/javascript" src="./dist/jquery/jquery-3.5.1.min.js"></script>
			<script type="text/javascript" src="./dist/amis/amis.js"></script>
			

{% endblock %}