{% extends "templates/connected.twig" %}

{% block mainContent %}
	<div class="ui rounded images">
		{% for galerie in galeries %}
			<div class="galerie conteneur_img ui image large rounded">
				<a href="#" onclick="DisplayImages({{galerie.id}});return false;" class="lien">
					<img class="" src="uploads/{{galerie.images[0].path}}">
					<div class="ui bottom attached label banniere">{{galerie.name}}</div>
				</a>
			</div>

			<h1 class="titregal{{galerie.id}} titregal hide">{{galerie.name}}</h1>
			{% for image in galerie.images %}
				<div class="photo{{galerie.id}} photos conteneur_img ui image medium rounded hide">
					<a href="uploads/{{image.path}}" data-lightbox="mygallery" data-title="{{galerie.name}}">
						<img class="" src="uploads/{{image.path}}">
					</a>
				</div>
			{% endfor %}
		{% endfor %}
	</div>

	<link rel="stylesheet" href="./dist/galerie/galerie.css">
	<script src="./dist/galerie/galerie.js"></script>

	<link rel="stylesheet" href="./dist/lightbox/lightbox.min.css">
	<script src="./dist/lightbox/lightbox-plus-jquery.min.js"></script>

{% endblock %}
