{% extends "templates/connected.twig" %}

{% block mainContent %}

	<div class="ui rounded images" id="display">
	
	<!-- Ensemble des galeries et leurs photos -->
	
        {% if galeries is not null %}	
		{% for galerie in galeries %}
			<div class="galerie conteneur_img ui image large rounded">
				<a href="#" onclick="DisplayImages({{galerie.id}});return false" class="lien">
					<img class="" src="uploads/{{galerie.images[0].path}}">
					<div class="ui bottom attached label banniere">{{galerie.name}}</div>
				</a>
			</div>

			<h1 class="titregal{{galerie.id}} titregal hide">{{galerie.name}}</h1>
			
			{% for image in galerie.images %}
				<div class="photo{{galerie.id}} photos conteneur_img ui image medium rounded hide" style="padding:auto;" id="{{image.id}}">
					<div class="ui left corner labeled">
						<a href="uploads/{{image.path}}" data-lightbox="mygallery" data-title="{{galerie.name}}"
						class="ui right corner labeled">
							<img src="uploads/{{image.path}}">
						</a>
						<div class="adminPane">
							<a href="#"><i class="pencil alternate icon"></i></a>
							<a href="#" onclick="removeImg({{ image.id }})"><i class="trash icon"></i></a>
						</div>
						<div class="ui left corner label">
							<i class="{{ image.getIconVisibility }} icon"></i>
						</div>
					</div>
				</div>
			{% endfor %}
		{% endfor %}
		{% endif %}
		
		<!-- Le bouton ajouter nouvelle image -->
		
		<div class="photoPlus photos conteneur_img ui left corner labeled image medium rounded hide">
			<a id="btn_addImg">
				<img src="dist/images/plus.png">
			</a>
		</div>
		
		<!-- Ensemble des galeries vides -->
		
		{% if galeriesVides is not null %}	
		{% for galerieVide in galeriesVides %}
		     <div id="container_plus" class="galerie conteneur_img ui image large rounded">
				<a href="#" onclick="DisplayImages({{galerieVide.id}});return false" class="lien">
					<img id="imgcamera" src="dist/images/camera.png">
					<div class="ui bottom attached label banniere">{{galerieVide.name}}</div>
				</a>
			</div>
		{% endfor %}
		{% endif %}
		
		<!-- Le bouton ajouter nouvelle galerie -->
		
		    <div id="container_plus" class="galerie conteneur_img ui image large rounded">
				<a href="index.php?ajoutGalerie" onclick="return hs.htmlExpand(this, { objectType: 'iframe' } )" class="lien">
					<img id="imgplus" src="dist/images/plus.png">
				</a>
			</div>
	</div>

	<link rel="stylesheet" href="./dist/galerie/galerie.css">
	<script src="./dist/galerie/galerie.js"></script>

	<link rel="stylesheet" href="./dist/lightbox/lightbox.min.css">
	<script src="./dist/lightbox/lightbox-plus-jquery.min.js"></script>

{% endblock %}
