{% extends "templates/connected.twig" %}

{% block mainContent %}

   <div class="ui cards" style="margin-bottom:20px">
       <div class="card no-shadow">
           <div class="content">
               <img class="right floated mini ui image" src="dist/images/user_icon.png">
               <div class="header">
               {{friend.prenom}} {{friend.nom}}
               </div>
               <div class="meta">
               {{friend.mail}}
               </div>
           </div>
       </div>
       {% if areFriends == false  %}
            <button class="ui button" style="height:40px; margin-top:25px; margin-left:20px;" onclick="addFriendship({{user.id}},{{friend.id}})">Ajouter</button>
	   {% else %} 
			<button class="ui button" style="height:40px; margin-top:25px; margin-left:20px;" onclick="removeFriendship({{user.id}},{{friend.id}})">Retirer de la liste d'amis</button>		
       {% endif %} 				  
    </div>
	
	<div class="ui rounded images" id="display">
	
	<!-- Ensemble des galeries et leurs photos -->
	
        {% if galeries is not null  %}	
		{% for galerie in galeries %}
		   <!-- {% if (galerie.images|length==1 and galerie.images[0].visibility==-1)==false %} -->

			<div class="galerie conteneur_img ui image large rounded">
				<a href="#" onclick="DisplayImages({{galerie.id}});return false" class="lien">
					<img class="" src="uploads/{{galerie.images[0].path}}">
					<div class="ui bottom attached label banniere">{{galerie.name}}</div>
				</a>
			</div>

                 <div class="ui large breadcrumb hide crumb{{galerie.id}}">
                     <a class="section" href="index.php?profilAmi&friendId={{ friend.id }}">Galeries de {{friend.prenom}}</a>
                     <i class="right chevron icon divider"></i>
                     <div class="active section">{{galerie.name}}</div>
                 </div>
   
			<h1 class="titregal{{galerie.id}} titregal hide no-marginTop">{{galerie.name}}</h1>
			
			{% for image in galerie.images %}
			    {% if image.visibility !=-1 %}	
				<div class="photo{{galerie.id}} photos conteneur_img ui image medium rounded hide" style="padding:auto;" id="{{image.id}}">
					<div class="ui left corner labeled">
						<a href="uploads/{{image.path}}" data-lightbox="mygallery" data-title="{{galerie.name}}"
						class="ui right corner labeled">
							<img src="uploads/{{image.path}}">
						</a>
					</div>
				</div>
				{% endif %}
			{% endfor %}
		    <!-- {% endif %} -->
		{% endfor %}
		{% endif %}
		
	</div>



	<link rel="stylesheet" href="./dist/galerie/galerie.css">
	<script src="./dist/galerie/galerie.js"></script>
	<script src="./js/profilAmi.js"></script>

	<link rel="stylesheet" href="./dist/lightbox/lightbox.min.css">
	<script src="./dist/lightbox/lightbox-plus-jquery.min.js"></script>
	<script type="text/javascript" src="./dist/jquery/jquery-3.5.1.min.js"></script>

{% endblock %}
